__pycache__/
doB.wav
doDB.wav
doDN.wav
doN.wav
faB.wav
faDB.wav
faDN.wav
faN.wav
laB.wav
laDB.wav
laDN.wav
laN.wav
miB.wav
miN.wav
réB.wav
réDB.wav
réN.wav
réDN.wav
siB.wav
siN.wav
solB.wav
solDB.wav
solDN.wav
solN.wav
xe.dat

