__pycache__/
doB.wav
doDB.wav
doDN.wav
doN.wav
faB.wav
faDB.wav
faDN.wav
faN.wav
laB.wav
laDB.wav
laDN.wav
laN.wav
miB.wav
miN.wav
"r\303\251B.wav"
"r\303\251DB.wav"
"r\303\251DN.wav"
"r\303\251N.wav"
siB.wav
siN.wav
solB.wav
solDB.wav
solDN.wav
solN.wav
xe.dat

